@model SurveyApp.Models.AssignedItemsModel
@{
    ViewData["Title"] = "Device Type Master";
}



<form asp-controller="SurveyCreation" asp-action="SaveItemType" method="post">
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card shadow mt-6">
                    <div class="card-header bg-purple mb-8 py-2">
                        <div class="row">
                            <div class="col-6">
                                <h6 class="text-white fs-4 pt-1">
                                    Select Device Types
                                </h6>
                            </div>
                            <div class="col-6 text-end">
                                <a href="@Url.Action("Index", "SurveyCreation")"
                                   class="btn btn-outline-danger text-white border-0 mx-0 my-0">
                                    <i class="bi bi-arrow-left-circle me-2"></i> Back To List
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <span class="badge bg-purple me-2">Survey ID: @Model.SurveyId</span>
                            <span class="badge bg-secondary">Location ID: @Model.LocID</span>
                        </div>
                        <div class="row gx-4 gy-6">
                            <input type="hidden" asp-for="SurveyId" />
                            <input type="hidden" asp-for="LocID" />
                            @* <input type="hidden" asp-for="SurveyName" /> *@

                            @if (Model.AssignItemList != null && Model.AssignItemList.Count > 0)
                            {
                                for (int i = 0; i < Model.AssignItemList.Count; i++)
                                {
                                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                                        <div class="form-custom-floating p-3 shadow-sm rounded h-100 d-flex flex-column justify-content-between">
                                            <div class="d-flex align-items-center mb-2">
                                                <i class="bi bi-cpu fs-2 text-primary me-3"></i>
                                                <span class="fw-semibold fs-5">@Model.AssignItemList[i].TypeName</span>
                                            </div>

                                            <div class="mb-2 text-muted small">@Model.AssignItemList[i].TypeDesc</div>
                                            <div class="mb-2">
                                                <span class="badge bg-info">@Model.AssignItemList[i].GroupName</span>
                                            </div>

                                            <div class="form-check ps-0">
                                                <label class="switch switch-text switch-primary switch-pill">
                                                    <input type="checkbox" class="switch-input" asp-for="AssignItemList[i].IsAssigned" />
                                                    <span data-on="Yes" data-off="NO" class="switch-label"></span>
                                                    <span class="switch-handle"></span>
                                                </label>
                                            </div>
                                            <input type="hidden" asp-for="AssignItemList[i].ItemTypeID" />
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div>No items found.</div>
                            }
                        </div>
                    </div>
                    <div class="card-footer mt-12">
                        <div class="row">
                            <div class="col text-end">
                                <button type="submit" class="btn btn-primary me-2" name="action" value="save"><i class="bi bi-check2-circle me-2"></i> Save Selection</button>
                                <a asp-controller="SurveyCreation" asp-action="SaveItemType" class="btn btn-danger"><i class="bi bi-slash-circle me-2"></i> Reset</a>
                                <button type="submit" class="btn btn-success ms-2" name="action" value="start">
                                    <i class="bi bi-play-circle me-2"></i> Start Survey
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
